<!doctype html>
<html>

<head>
  <title>Menu Creation</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Didact+Gothic&family=Mirza:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <img src="/img/menucreation.png">
      <!-- <h1>Lets create your Menu</h1> -->
      <a href="/logout" class="btnLogOut btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

    </div>
    <div class="col-sm-6">
      <h2 class="intro">Lets add food</h2>
      <form action="/menuitems" method="POST">
        <input type="text" name="food" placeholder="Food name" required>
        <input type="text" name="description" placeholder="Description" required>
        <input type="text" name="price" placeholder="Price" required>
        <button type="submit">Add</button>
      </form>
    </div>

    <div class="menu-container">
      <div class="intro">
        <h3 class="profileMenu">Menu Items</h3>
      </div>
      <% if (menuitems && menuitems.length > 0) { %>
        <ul class="menuitems">
          <% for (let i = 0; i < menuitems.length; i++) { %>
            <li class="menuList">
              <strong class="big">Name:</strong> <span class="food"><%= menuitems[i].food %></span>
              <strong class="big">Description:</strong> <span class="description"><%= menuitems[i].description %></span>
              <strong class="big">Price:</strong> <span class="price"><%= menuitems[i].price %></span>
              <span>
                <i 
                  class="fa fa-pencil" 
                  data-food="<%= menuitems[i].food %>" 
                  data-description="<%= menuitems[i].description %>" 
                  data-price="<%= menuitems[i].price %>" 
                  aria-hidden="true"></i>
              </span>
              <span>
                <i 
                  class="fa fa-trash-o" 
                  data-food="<%= menuitems[i].food %>" 
                  aria-hidden="true"></i>
              </span>
            </li>
          <% } %>
        </ul>
      <% } %>
    </div>

  <script src="main.js"></script>

</body>

</html>
